{% extends '127.0.0.1:8000/base.html' %}
{% load blogs %}

{%block title %} 
 {% get_blog_object as get_blog %} {{ get_blog.title }} {% endblock %}

{% block head %}
{% load humanize %}
{% update_blog_visitor  %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>
                .card{
                    box-shadow: 0 16px 48px #E3E7EB;
                }







/* Solid Social Share Buttons */

.btn-social,
.btn-social:visited,
.btn-social:focus,
.btn-social:hover,
.btn-social:active {
  color: #ffffff;
  text-decoration: none;
  transition: opacity .15s ease-in-out;
}

.btn-social:hover,
.btn-social:active {
 opacity: .75;
}

.btn-fb {
  background-color: #3b5998;
}

.btn-tw {
  background-color: #1da1f2;
}

.btn-in {
  background-color: #0077b5;
}

.btn-gp {
  background-color: #db4437;
}

.btn-rd {
  background-color: #ff4500;
}

.btn-hn {
  background-color: #ff4000;
}

/* Outline Social Share Buttons */

.btn-social-outline {
  background-color: transparent;
  background-image: none;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-fb-outline {
  color: #3b5998;
  border-color: #3b5998;
}

.btn-fb-outline:hover,
.btn-fb-outline:active {
  color: #ffffff;
  background-color: #3b5998;
}

.btn-tw-outline {
  color: #1da1f2;
  border-color: #1da1f2;
}

.btn-tw-outline:hover,
.btn-tw-outline:active {
  color: #ffffff;
  background-color: #1da1f2;
}

.btn-in-outline {
  color: #0077b5;
  border-color: #0077b5;
}

.btn-in-outline:hover,
.btn-in-outline:active {
  color: #ffffff;
  background-color: #0077b5;
}

.btn-gp-outline {
  color: #db4437;
  border-color: #db4437;
}

.btn-gp-outline:hover,
.btn-gp-outline:active {
  color: #ffffff;
  background-color: #db4437;
}

.btn-rd-outline {
  color: #ff4500;
  border-color: #ff4500;
}

.btn-rd-outline:hover,
.btn-rd-outline:active {
  color: #ffffff;
  background-color: #ff4500;
}

.btn-hn-outline {
  color: #ff4000;
  border-color: #ff4000;
}

.btn-hn-outline:hover,
.btn-hn-outline:active {
  color: #ffffff;
  background-color: #ff4000;
}

/* Fluid Styles */

.fluid {
  display: flex;
}

.fluid a {
  flex-grow: 1;
  margin-right: 0.25rem;
}

.fluid a:last-child {
  margin-right: 0rem;
}
        </style>

 {% get_blog_object as get_blog %}
<meta property="og:title" content="{{ get_blog.title }}" />
<meta property="og:type" content="blog" />
<meta property="og:url" content="https://{{ gethost.domain }}/blog/{{ get_blog.slug }}" />
<meta property="og:image" content="https://{{ gethost.domain }}/file/{{ get_blog.thumbnails }}" />
<meta property="og:description" content=" {{ get_blog.body|slice:':100' }}" />
<meta name="twitter:card" content="summary" />

{% endblock %}

{% block body %}

{% include '127.0.0.1:8000/nav.html' %}
 {% get_blog_object as get_blog %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}


<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1> {{ get_blog.title }} </h1>
                <p class=" text-muted">{{ get_blog.user }} | {{ get_blog.publish_date }}</p>
                <br>
                <img src="http://{{ get_blog.domain }}/file/{{ get_blog.thumbnails }}" alt="{{ get_blog.title }}"
                     width="100%" height="auto">
                <br/>
                <p class="card-text ">{{ get_blog.body|safe }}</p>
                <br>

                <div align="left">
                    <p>Share This:</p>
                    <a class="btn btn-sm btn-social-outline btn-fb-outline" href="https://www.facebook.com/sharer/sharer.php?u=https://{{ gethost.domain }}/blog/{{ get_blog.slug }}" target="_blank" title="">
                       <i class="fa-brands fa-facebook"></i> Share
                    </a>
                    <a class="btn btn-sm btn-social-outline btn-tw-outline" href="https://twitter.com/intent/tweet?text={{ blog.title }}&amp;url=https://{{ gethost.domain }}/blog/{{ get_blog.slug }}" target="_blank" title="">
                        <i class="fa-brands fa-twitter"></i> Tweet
                    </a>
                    <a class="btn btn-sm btn-social-outline btn-in-outline" href="https://www.linkedin.com/shareArticle?mini=true&url=https://{{ gethost.domain }}/blog/{{ get_blog.slug }}&amp;title={{ get_blog.title }}" target="_blank" title="">
                        <i class="fa-brands fa-linkedin-in" data-fa-transform="grow-2"></i>
                    </a>
                    <a class="btn btn-sm btn-social-outline btn-gp-outline" href="https://plus.google.com/share?url=https://{{ gethost.domain }}/blog/{{ get_blog.slug }}" target="_blank" title="">
                        <i class="fa-brands fa-google" data-fa-transform="grow-2"></i>
                    </a>
                    <a class="btn btn-sm btn-social-outline btn-rd-outline" href="https://www.reddit.com/submit?url=https://{{ gethost.domain }}/blog/{{ get_blog.slug }}&title={{ get_blog.title }}" target="_blank" title="Share this post on Reddit">
                        <i class="fa-brands fa-reddit" data-fa-transform="grow-4"></i>
                    </a>
                </div>
                <br>

                <!--    this is for main comments post-->

                {% if user.is_authenticated %}
                <div class="wrapper">
                    <form class="form" method="post" action="" >
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="d-grid gap-2 col-7 mx-auto">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Post Comment</button>
                        </div>
                    </form>
                </div>

                {% else %}

                {% endif %}

                <!--    this is for main comments list-->
                <br>
                {% if not comments %}
                <p>0 COMMENTS:</p>

                {% else %}
                <p>{{ comments.count }} COMMENTS:</p>
                {% for comment in comments %}
                <div class="card my-4">

                    <div class="card-body">
                        <strong>{{ comment.user }}</strong> <span style="padding: 5px;" >{{ comment.publish_date|naturaltime }} <button class="btn btn-link btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#replyid{{ comment.id }}" aria-expanded="false" aria-controls="replyid{{ comment.id }}">
                                Reply
                            </button></span>
                        <p class="card-text"> {{ comment.comments }} </p>
	                    
                        <div class="collapse" id="replyid{{ comment.id }}">
	                        
		                        <!--						for reply each comment list-->
		
		                        {% for reply in replylist %}
		                        {% if comment.id == reply.reply_id %}
		
		                        <div class="card my-2">
		                            <div class="card-body">
		                                <strong>{{ reply.user }} </strong> <span style="padding: 5px;" >{{ reply.publish_date|naturaltime }}</span>
		                                <p class="card-text"> {{ reply.comments }} </p>
		                            </div>
		                        </div>
		                        {% endif %}
		                        {% endfor %}
	                        
	                        {% if user.is_authenticated %}
	                        <div class="card card-body">
                                <form method="post" action="" >
                                    {% csrf_token %}
                                    {{replyform.as_p}}
                                    <input type="hidden" name="reply_id" value="{{comment.id}}">
                                    <button type="submit" class="btn btn-primary">Reply</button>
                                </form>
                            </div>
	                        {% else %}
	                        
	                        {% endif %}
                        </div>

                    </div>
                </div>

                {% endfor %}
                {% endif %}



            </div>
        </div>



        <!-- Sidebar Widgets Column -->

        <div class="col-md-4 float-right ">
           {% get_blog as bloglist %} {% for list in bloglist %}
            <div class="card my-4">
                <h5 class="card-header">{{ list.title }} </h5>
                <div class="card-body">
                    <p class="card-text"> {{ list.body|slice:":100" }} </p>
                    <a href="/blog/{{ list.slug }}"
                       class="btn btn-danger">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</div>

{% endblock %}