{% extends '127.0.0.1:8000/base.html' %}
{%block title %} bigsansar - blogs {% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>
                .card{
                    box-shadow: 0 16px 48px #E3E7EB;
                }

        </style>


{% endblock %}

{% block body %}
{% include '127.0.0.1:8000/nav.html' %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}

<div class="container">
    {% if user.is_staff %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" href="create" role="button">Create Blogs</a>
    </div>
    {% else %}

    {% endif %}
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <!-- Sidebar Widgets Column -->
{% load blogs %}
{% get_blog as bloglist %}
          {% for list in bloglist %}
          <div class="card my-4">
                <h5 class="card-header">{{list.title}} </h5>
            <div class="card-body">
                <p class="card-text"> {{list.body|slice:":100"}} </p>
                <a href="/blog/{{list.slug}}"
                   class="btn btn-danger">Read More</a>
            </div>
          </div>
          {% endfor %}

    </div>

  </div>
</div>

{% endblock %}