<?xml version="1.0" encoding="UTF-8"?>
<urlset
  xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
  {% load pages %}
  {% get_pages as listpage %} 
  {% for page in listpage %}
  <url>
    <loc>https://{{ page.domain }}/{{ page.slug }}</loc>
    <lastmod>{{ page.publish_date|date:"Y-m-d" }}</lastmod>
    <changefreq>Daily</changefreq>
    <priority>1</priority>
   
    
   </url>
{% endfor %}

{% load blogs %}
 {% get_blog as bloglist %} 
{% for list in bloglist %}
 <url>
    <loc>https://{{ list.domain }}/blog/{{ list.slug }}</loc>
    <lastmod>{{ list.publish_date|date:"Y-m-d" }}</lastmod>
    <changefreq>Daily</changefreq>
    <priority>1</priority>
   </url>
{% endfor %}
</urlset>